@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/jetbrains-mono/500.css";
@import "@fontsource/jetbrains-mono/600.css";
@import "@fontsource/jetbrains-mono/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 15, 23, 42;
    --color-text-muted: 100, 116, 139;
    --color-text-inverted: 240, 240, 240;
    --color-fill: 241, 245, 249;
    --muted: 148, 163, 184;
    --color: 59, 130, 246;
    --color-button-accent: 59, 130, 246;
    --color-button-accent-hover: 0, 185, 255;
    --color-button-muted: 226, 232, 240;
  }

  .dark {
    --color-text-base: 248, 250, 252;
    --color-text-muted: 148, 163, 184;
    --color-text-inverted: 240, 240, 240;
    --color-fill: 2, 6, 23;
    --muted: 51, 65, 85;
    --color: 59, 130, 246;
    --color-button-accent: 59, 130, 246;
    --color-button-accent-hover: 0, 185, 255;
    --color-button-muted: 30, 41, 59;
  }

  body {
    @apply bg-skin-fill text-skin-base font-sans select-none;

    .c-cursor {
      position: fixed;
      z-index: 999999999;
      pointer-events: none;
      border-radius: 200px;
      @apply bg-skin-hue/20;
    }
  }

  .content-visibility-auto {
    content-visibility: auto;
    contain-intrinsic-size: auto 500px;
  }

  @media print {
    .content-visibility-auto {
      content-visibility: visible;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #222;
}
 /* removed scrollbar */
html {
  scroll-behavior: smooth;
}
html, body {
  @apply scrollbar-hide;
}